.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#gear-dropdown{
  background-color: transparent;
  border: none;
}


#settings-div{
  margin-left: clamp(250px, 20vw, 20vw);
  width: clamp(500px,60vw,60vw);
  border: 1.6px solid rgba(0, 0, 0, 0.178);
  border-radius: 5px;
  padding-bottom: 1%;

}

.adv-settings-div{
  padding-left:20px;
  padding-right:20px;
  margin-top: 20px;
}

.table-wrapper{
  padding-left: 1%;
  padding-right: 1%;
}

.subsetting-wrapper{
  border:1.6px solid rgba(0,0,0,0.178);
  border-radius:5px;
  
}

.error-wrapper{
  Margin-top:10%;
}

.nothing-wrapper{
  margin-top: 1%;
}

.default-text{
  color:#495057c9 !important;
}





#up-arrow{
  top:0 !important;
}


/* ********************************** Heart Beat Animation *************************** */
.heart-beat-path {
  stroke-dasharray: 200;
  stroke-dashoffset: 5;
  animation: dash 3s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 822;
  }
  to {
    stroke-dashoffset: 0;
  }
}
/* ******************Ending Heart Beat Animation ********************************************* */






/* *********************************************Begin Background Gradiant Image***************************************************** */


.login-div-main{
  height: 100vh;
  background: linear-gradient(#222d32cb 10%, #222D32);
}


/* *********************************************End Background Gradiant Image***************************************************** */








